<script setup lang="ts">
const props = defineProps(["label", "type", "required", "step"]);
const model = defineModel();
</script>

<template>
    <label class="flex flex-col text-sm max-w-md">
        {{ label }}

        <input
            class="border border-teal-800 rounded-md outline-none focus:ring focus:ring-teal-400 px-2 py-1"
            v-model="model"
            :type="props.type"
            :step="props.step"
            :required="props.required"
        />
    </label>
</template>
