<script setup lang="ts">
import type { Movement } from "@/types";

import Button from "@/components/buttons/Button.vue";
import DialogWarning from "@/components/dialogs/DialogWarning.vue";
import DialogLoading from "@/components/dialogs/DialogLoading.vue";

import { InboxIcon, PlusIcon, TrashIcon } from "@heroicons/vue/24/solid";
import { onMounted } from "vue";
import { deleteMovement, getAllMovements } from "@/services/api/movements";
import { ref } from "vue";
import { useI18n } from "vue-i18n";

const emit = defineEmits(['updated']);

const { t } = useI18n();

const warningDialog = ref<typeof DialogWarning>();
const loadingDialog = ref<typeof DialogLoading>();

const movements = ref<Movement[]>([]);

const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
});

async function removeMovement(movement: Movement) {
    // Open a warning dialog to make sure the user wants to delete the movement.
    warningDialog.value?.openDialog({
        description: t("delete-movement", {
            type: movement.type === "in" ? t("in-movement") : t("out-movement"),
            value: formatter.format(movement.value),
        }),
        onAccept: async () => {
            loadingDialog.value?.doWithLoading({
                title: t("deleting-movement"),
                callback: async () => {
                    await deleteMovement(movement);
                    await updateMovements();
                },
            });
        },
    });
}

async function updateMovements() {
    const result = await getAllMovements();
    movements.value = result;

    // When the values on the table change, emit a signal so other components
    // can check the update.
    emit('updated');
}

onMounted(async () => {
    updateMovements();
});
</script>

<template>
    <div>
        <DialogWarning ref="warningDialog" />
        <DialogLoading ref="loadingDialog" />

        <h1 class="text-xl font-bold text-center">{{ t("movements") }}</h1>

        <div class="bg-neutral-100 border rounded-md px-2 py-1 mt-3">
            <RouterLink
                :to="{ name: 'movements-create' }"
                id="movements-table-add"
            >
                <Button class="ms-auto">
                    <PlusIcon class="w-5" />
                    {{ t("add") }}
                </Button>
            </RouterLink>
        </div>

        <template v-if="movements.length > 0">
            <div class="border border-teal-800 rounded-md mt-3">
                <table class="table-auto w-full">
                    <thead class="bg-teal-800 text-white">
                        <tr>
                            <th>{{ t("date") }}</th>
                            <th>{{ t("type") }}</th>
                            <th>{{ t("value") }}</th>
                            <th>{{ t("description") }}</th>
                            <th id="movements-table-actions">
                                {{ t("actions") }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="movement in movements">
                            <td class="py-2">
                                {{ new Date(movement.date).toLocaleString() }}
                            </td>

                            <td v-if="movement.type === 'in'">
                                {{ t("in-movement") }}
                            </td>
                            <td v-else>
                                {{ t("out-movement") }}
                            </td>

                            <td>{{ formatter.format(movement.value) }}</td>

                            <td v-if="movement.description">
                                {{ movement.description }}
                            </td>
                            <td v-else class="text-neutral-500 italic">
                                {{ t("no-movement-description") }}
                            </td>
                            <td>
                                <Button
                                    class="mx-auto"
                                    @click="() => removeMovement(movement)"
                                >
                                    <TrashIcon class="w-4" />
                                </Button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
        <template v-else>
            <div class="border rounded-md mt-3 py-3">
                <InboxIcon class="mx-auto w-24 text-neutral-300" />
                <p class="text-center text-neutral-400">
                    {{ t("no-movements") }}
                </p>
            </div>
        </template>
    </div>
</template>
