<template>
  <button class="flex items-center justify-center gap-1 text-sm font-bold bg-teal-800 uppercase text-white px-3 py-1 rounded-md hover:bg-teal-900 active:bg-teal-950">
    <slot />
  </button>
</template>
