<template>
  <button class="flex items-center justify-center gap-1 text-sm font-bold bg-red-800 uppercase text-white px-3 py-1 rounded-md hover:bg-red-900 active:bg-red-950">
    <slot />
  </button>
</template>
