<script setup lang="ts">
const props = defineProps(["label", "required"]);
const model = defineModel();
</script>

<template>
    <label class="flex flex-col text-sm max-w-md">
        {{ label }}

        <textarea
            class="border border-teal-800 rounded-md outline-none focus:ring focus:ring-teal-400 px-2 py-1"
            v-model="model"
            :required="props.required"
        />
    </label>
</template>
