<script setup lang="ts">
import Logo from "@/components/icons/Logo.vue";
import TableMovements from "@/components/tables/TableMovements.vue";
import OnboardingWrapper from "@/components/onboarding/OnboardingWrapper.vue";

import { useUserStore } from "@/stores/user";
import { useOnboardingStore } from "@/stores/onboarding";
import { ref } from "vue";
import { onMounted } from "vue";
import { useI18n } from "vue-i18n";
import { TableMovementsOnboardingSteps } from "@/components/tables/tableMovementsOnboarding";
import { DashboardOnboardingSteps } from "./dashboardViewOnboarding";
import { getTotalCapital } from "@/services/api/movements";

const { t } = useI18n();

const user = useUserStore();
const onboarding = useOnboardingStore();

const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
});

const onboardingWrapper = ref();
const totalCapital = ref<string>("-");

function onTableMovementsUpdate() {
    getTotalCapital().then((result) => {
        totalCapital.value = result.total;
    });
}

onMounted(async () => {
    getTotalCapital().then((result) => {
        totalCapital.value = result.total;
    });

    if (onboarding.isOnboardingEnabled("DASHBOARD")) {
        // Reset the steps before adding new ones.
        onboarding.steps.length = 0;

        onboarding.steps.push(DashboardOnboardingSteps.createUserInfoStep(t));
        onboarding.steps.push(
            DashboardOnboardingSteps.createCurrentCapitalStep(t),
        );
        onboarding.steps.push(
            TableMovementsOnboardingSteps.createMovementsTableStep(t),
        );
        onboarding.steps.push(
            TableMovementsOnboardingSteps.createMovementsTableActionStep(t),
        );

        setTimeout(
            () => onboardingWrapper.value.startOnboarding("DASHBOARD"),
            3000,
        );
    }
});
</script>

<template>
    <main class="h-full w-full flex items-center">
        <OnboardingWrapper ref="onboardingWrapper" :steps="onboarding.steps" />

        <div class="container mx-auto max-w-3xl">
            <div class="p-8 bg-white rounded-md shadow-md flex flex-col">
                <div class="mx-auto grid grid-cols-3 gap-3" id="user-info">
                    <div class="col-start-2">
                        <Logo class="mx-auto w-24 border-4 shadow-md" />
                        <h1 class="text-2xl text-center">{{ user.email }}</h1>
                    </div>

                    <div
                        class="flex flex-col justify-center"
                        id="current-capital"
                    >
                        <h2 class="text-xl -mb-1">
                            {{ $t("current-capital") }}
                        </h2>
                        <h1 class="text-3xl font-bold">
                            {{ formatter.format(totalCapital) }}
                        </h1>
                    </div>
                </div>

                <div id="movements-table">
                    <TableMovements
                        @updated="onTableMovementsUpdate"
                        class="py-4"
                    />
                </div>
            </div>
        </div>
    </main>
</template>
