<script setup lang="ts">
import Logo from "../components/icons/Logo.vue";
import Input from "../components/inputs/Input.vue";
import Button from "../components/buttons/Button.vue";

import { login } from "../services/api/auth";
import { ref } from "vue";
import { useRouter } from "vue-router";
import { useUserStore } from "@/stores/user";

const router = useRouter();
const user = useUserStore();

const email = ref<string>();
const password = ref<string>();

async function submit() {
    const authUser = await login(email.value, password.value);

    if (authUser) {
        user.email = authUser.sub;
        router.push({ name: "dashboard" });
    }
}
</script>

<template>
    <main class="h-full w-full flex items-center">
        <div class="container mx-auto">
            <div>
                <Logo class="mx-auto w-32 border-4 shadow-md" />
                <h1 class="text-3xl font-bold text-center">GMF</h1>
                <h2 class="-mt-2 text-xl text-center">
                    Gestión de Movimientos Financieros
                </h2>
            </div>

            <form
                class="mx-auto bg-white rounded-md max-w-xl p-4 shadow-md mt-8 space-y-3"
                @submit.prevent="submit"
            >
                <Input
                    class="mx-auto"
                    type="email"
                    v-model="email"
                    :label="$t('email')"
                    required
                />
                <Input
                    class="mx-auto"
                    type="password"
                    v-model="password"
                    :label="$t('password')"
                    required
                />

                <Button class="mx-auto" type="submit">
                    {{ $t("login") }}
                </Button>
            </form>
        </div>
    </main>
</template>

<style>
main {
    background-image: radial-gradient(
        rgb(94 234 212) 1px,
        rgb(204 251 241) 1px
    );
    background-size: 20px 20px;
}
</style>
