<script setup lang="ts">
import Button from "@/components/buttons/Button.vue";
import Input from "@/components/inputs/Input.vue";
import Textarea from "@/components/textareas/Textarea.vue";
import { Switch } from "@headlessui/vue";

import { ref } from "vue";
import { createMovement } from "@/services/api/movements";
import DialogLoading from "@/components/dialogs/DialogLoading.vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";

const { t } = useI18n();
const router = useRouter();

const loadingDialog = ref<typeof DialogLoading>();

const value = ref<number>();
const switchStatus = ref<boolean>();
const description = ref<string>();

async function submit() {
    loadingDialog.value?.doWithLoading({
        title: t("creating-movement"),
        callback: async () => {
            const movement = await createMovement(
                value.value,
                switchStatus.value ? "IN" : "OUT",
                description.value,
            );

            if (movement) {
                router.push({ name: "dashboard" });
            }
        },
    });
}
</script>

<template>
    <main class="h-full w-full flex items-center">
        <DialogLoading ref="loadingDialog" />

        <div class="container mx-auto max-w-3xl">
            <div class="p-8 bg-white rounded-md shadow-md flex flex-col">
                <h1 class="text-3xl font-bold text-center">
                    {{ t("create-movement") }}
                </h1>
                <form @submit.prevent="submit" class="space-y-2 mt-4">
                    <div class="grid grid-cols-3 items-center max-w-lg mx-auto">
                        <p
                            class="ms-auto"
                            :class="
                                switchStatus
                                    ? 'text-neutral-500'
                                    : 'text-red-800 font-bold'
                            "
                        >
                            {{ t("out-movement") }}
                        </p>
                        <Switch
                            v-model="switchStatus"
                            :class="switchStatus ? 'bg-cyan-900' : 'bg-red-700'"
                            class="mx-auto relative inline-flex h-9 w-20 shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
                        >
                            <span
                                aria-hidden="true"
                                :class="
                                    switchStatus
                                        ? 'translate-x-11'
                                        : 'translate-x-0'
                                "
                                class="pointer-events-none inline-block h-8 w-8 transform rounded-full bg-white shadow-lg ring-0 transition duration-200 ease-in-out"
                            />
                        </Switch>
                        <p
                            class="me-auto"
                            :class="
                                switchStatus
                                    ? 'text-cyan-800 font-bold'
                                    : 'text-neutral-500'
                            "
                        >
                            {{ t("in-movement") }}
                        </p>
                    </div>

                    <Input
                        class="mx-auto"
                        type="number"
                        step="0.01"
                        v-model="value"
                        :label="t('value')"
                        required
                    />
                    <Textarea
                        class="mx-auto"
                        v-model="description"
                        :label="t('description')"
                        required
                    />

                    <Button class="mx-auto mt-3" type="submit">
                        {{ t("create") }}
                    </Button>
                </form>
            </div>
        </div>
    </main>
</template>
