@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply text-teal-950;

  font-family: 'Rubik';
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}
