<script setup lang="ts">
import Button from "@/components/buttons/Button.vue";
import { useOnboardingStore, type OnboardingType } from "@/stores/onboarding";
import {
    VOnboardingWrapper,
    VOnboardingStep,
    useVOnboarding,
} from "v-onboarding";
import { ref } from "vue";
import { useI18n } from "vue-i18n";

const props = defineProps(["steps"]);
const wrapper = ref();

const { t } = useI18n();
const onboarding = useOnboardingStore();
const { start, goToStep, finish } = useVOnboarding(wrapper);

const currentOnboarding = ref<OnboardingType>();

function startOnboarding(onboarding: OnboardingType) {
    currentOnboarding.value = onboarding;
    start();
}

function finishOnboarding() {
    onboarding.disableOnboarding(currentOnboarding.value);
}

defineExpose({ startOnboarding });
</script>

<template>
    <VOnboardingWrapper
        ref="wrapper"
        :steps="props.steps"
        @finish="finishOnboarding"
        @exit="finishOnboarding"
    >
        <template
            #default="{ previous, next, step, exit, isFirst, isLast, index }"
        >
            <VOnboardingStep>
                <div class="bg-white shadow rounded-md mt-1">
                    <div class="px-2 py-1">
                        <div class="flex flex-col">
                            <div v-if="step.content">
                                <h3
                                    v-if="step.content.title"
                                    class="text-center font-medium text-gray-900"
                                >
                                    {{ step.content.title }}
                                </h3>
                                <div
                                    v-if="step.content.description"
                                    class="-mt-1 mb-1 max-w-xl text-sm text-gray-700"
                                >
                                    <p>{{ step.content.description }}</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-center">
                                <div class="flex gap-2">
                                    <template v-if="!isFirst">
                                        <Button
                                            @click="previous"
                                            class="text-xs"
                                        >
                                            {{ t("previous") }}
                                        </Button>
                                    </template>
                                    <Button @click="next" class="text-xs">
                                        {{ isLast ? t("finish") : t("next") }}
                                    </Button>
                                </div>
                                <span
                                    class="text-center text-xs font-bold text-neutral-600"
                                >
                                    {{ `${index + 1}/${steps.length}` }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </VOnboardingStep>
        </template>
    </VOnboardingWrapper>
</template>
