<script setup lang="ts">
import logo from '../../assets/logo.svg'
</script>

<template>
  <div class="aspect-square rounded-full bg-teal-400 flex items-center border-teal-800">
    <img class="mx-auto w-3/4 h-3/4" :src="logo" />
  </div>
</template>
