<script setup lang="ts">
import { ref } from "vue";
import { useI18n } from "vue-i18n";
import { CurrencyDollarIcon } from "@heroicons/vue/24/outline";
import {
    Dialog,
    DialogPanel,
    DialogTitle,
    DialogDescription,
} from "@headlessui/vue";

const { t } = useI18n();

const title = ref<string>();
const description = ref<string>();
const open = ref(false);

async function doWithLoading(data: {
    callback: () => Promise<void>;

    title?: string;
    description?: string;
}) {
    title.value = data.title ?? t("loading");
    description.value = data.description;

    open.value = true;

    // If the user accepts, show a loading dialog with artificial time
    // to show it.
    await new Promise((resolve) =>
        setTimeout(
            resolve,
            parseInt(import.meta.env.VITE_ARTIFICIAL_LOADING_TIME),
        ),
    );

    try {
        await data.callback();
    } finally {
        // Make sure we close the dialog.
        open.value = false;
    }
}

defineExpose({ doWithLoading });
</script>

<template>
    <Dialog
        :open="open"
        class="absolute top-0 w-full h-full flex items-center justify-center bg-black/10 backdrop-blur-sm"
    >
        <DialogPanel
            class="relative w-full max-w-md bg-white border shadow px-6 py-6 rounded-md"
        >
            <DialogTitle class="text-center text-xl font-bold text-teal-800">
                <CurrencyDollarIcon
                    class="mx-auto text-teal-800/70 animate-spin w-12"
                />
                {{ title }}
            </DialogTitle>
            <DialogDescription class="text-center">
                {{ description }}
            </DialogDescription>
        </DialogPanel>
    </Dialog>
</template>
