<script setup lang="ts">
import { Teleport, ref } from "vue";
import { XMarkIcon } from "@heroicons/vue/24/solid";
import { useI18n } from "vue-i18n";
import {
    Dialog,
    DialogPanel,
    DialogTitle,
    DialogDescription,
} from "@headlessui/vue";

import ButtonWarning from "@/components/buttons/ButtonWarning.vue";

const { t } = useI18n();

const title = ref<string>();
const description = ref<string>();
const open = ref(false);

const onAccept = ref<() => void>();
const onClose = ref<() => void>();

function openDialog(data: {
    title?: string;
    description: string;

    onAccept: () => void;
    onClose?: () => void;
}) {
    title.value = data.title ?? t("are-you-sure");
    description.value = data.description;

    onAccept.value = data.onAccept;
    onClose.value = data.onClose;

    open.value = true;
}

function close() {
    // If the callback has been set for the onClose function, execute it before
    // closing the dialog.
    if (onClose.value) {
        onClose.value();
    }

    open.value = false;
}

function accept() {
    // If the callback has been set for the onAccept function, execute it before
    // closing the dialog.
    if (onAccept.value) {
        onAccept.value();
    }

    open.value = false;
}

defineExpose({ openDialog });
</script>

<template>
    <Dialog
        :open="open"
        @close="close"
        class="absolute top-0 w-full h-full flex items-center justify-center bg-black/10 backdrop-blur-sm"
    >
        <DialogPanel
            class="relative bg-white px-6 py-4 rounded-md shadow w-full max-w-lg"
        >
            <button class="absolute right-1 top-1" @click="close">
                <XMarkIcon class="w-5" />
            </button>

            <DialogTitle class="text-center text-xl font-bold text-red-800">
                {{ title }}
            </DialogTitle>
            <DialogDescription class="text-center">
                {{ description }}
            </DialogDescription>

            <ButtonWarning class="mx-auto mt-2" @click="accept">
                {{ t("accept") }}
            </ButtonWarning>
        </DialogPanel>
    </Dialog>
</template>
